#heading1{    
    color: red;
    background-color: aquamarine;
}
.text-pink{
    color:pink
}
.text-background-yellow{
    background-color: yellow;
}
body{
    background-image: url("../img/paper-prototyping-usability-lead.jpg");
background-repeat: no-repeat;
background-position: right-top;
background-attachment: fixed;
color:indianred
}
h1{
    font-size: 3.8rem;
  
font-style: italic;
font-weight: 1000;
}
a{
    color:aqua;
}
a:hover{
color:black;
}
a{
    color: var(--just-red);
text-decoration: none;
    background-color:blueviolet;
    padding: 20px 10px 20px 10px;
    margin-left: 50px;
}
.text-para{
    text-align: right;
    font-size: 1.8rem;
    text-align-last: right;
    text-transform: uppercase;
}
@media (max-width: 576px) {
    body{
        background-color: brown;
    }
}
:root {
    --primary-red: #dc3545;
    --just-red: var(--primary-red)
}
html, body{
    color: var(--primary-red);
}
